.main-div{
  width: 500px;
  height: 400px;
  margin: -40px -24px 0 -24px;

}
.top-title{
  color: white;
  height: 50px;
  background-color: black;
  padding-top: 15px;
  padding-left: 20px;
}
mat-chip {
  width: 65px;
}

