.main-div{
  width: 500px;
  height: 400px;
  margin: -40px -24px 0 -24px;
}
.top-title{
  color: white;
  height: 50px;
  background-color: black;
  padding-top: 15px;
  padding-left: 20px;
}
.barber-mapping li{
  list-style-type: none;
  border-bottom: 1px dashed grey;
  width: 410px;
  font-size: 25px;
  img{
    width: 50px;
    border-radius: 5px;
    margin-right: 20px;
    float: left;
  }
}
.role{
  font-size: small;
}
