/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body{
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("https://i.pinimg.com/originals/1a/12/55/1a1255e4c4a6872808aaa16e45d8b4a1.jpg");
  background-size: 100%;
  background-color: white;
  height: 100%;
}
